.slidertitle{
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}

h1 {
    color: #FFF;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    font-size: 2.4em;
}
/** ---------------------------------------
 * Slider 
 ----------------------------------------*/
.container {
	width: 100%;
	margin: -0.7em auto;
	padding: 0;
	text-align: center;
}

@media (min-width: 1400px) and (max-width: 1920px){
    .container {
        width: 80%;
    }
}

.slider-wrapper {
    z-index: 500;
    position: relative;
    width: 97%;
    height: 500px;
    background: #FFF;
    overflow: hidden;
}

.slider-wrapper li {
    display: none;
}

.slider-wrapper .current-slide {
    display: block;
}

.slider-shadow {
    width: 100%;
    height: 15px;
    position: relative;
}

.slider-shadow:after, .slider-shadow:before {
    content: '';
    position: absolute;
    background: #171c24;
    height: 100%;
    width: 50%;
    left: 10px;
    top: -20px;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -webkit-box-shadow: 0 0 15px 8px #171c24;
    box-shadow: 0 0 15px 8px #171c24;
}

.slider-shadow:before {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
}

.slider-wrapper img {
    position: absolute;
	width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

/**
 * ---[Caption] ---------------------- 
 **/
.slider-wrapper .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(5, 56, 87);
    width: 35%;
	height: 100%;
    padding: 10px;
    color: #FFF;
   -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.8;
}


.slider-wrapper h2 {
    color: white;
    font-size: 2em;
    font-weight: bolder;
    margin: 2em 0;
}

.slider-wrapper p {
    font-size: 1.2em;
    line-height: 1.4em;
	text-align: justify;
	width: 80%;
	margin: 0 0 0 2.5em;
}



/**
 * ---[Botones-Control] ---------------------- 
 **/
.control-buttons {
    margin-top: 15px;
    text-align: center;
}

.control-buttons li {
    cursor: pointer;
    display: inline-block;
    background: #424f66;
    text-indent: -99999px;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.control-buttons li.active {
    background: #00c5b9;
}

.authors {
    text-align: center;
    color: #7a8699;
    display: block;
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 80px;
}

/** ---------------------------------------
 * Responsive 
 ----------------------------------------*/
@media only screen and (max-width: 825px) {
    .container {
        width: 500px;
    }

    .slider-wrapper {
        height: 260px;
    }
		
	.slider-wrapper h2 {
		font-size: 1em;
	}

	.slider-wrapper p {
		font-size: 0.8em;
		margin:0;
		width: 100%;
	}	
}

@media only screen and (max-width: 535px) {
    .container {
        padding: 5px;
        width: 100%;
        margin: 40px 0 0 0;
    }

    .slider-wrapper {
        height: 200px;
    }


}

@media only screen and (max-width: 410px) {
    .slider-wrapper {
        height: 160px;
        width: -webkit-fill-available;
    }

    .slider-wrapper img {
        width: -webkit-fill-available;
    }

    .container {
        padding: 0;
    }

    .slider-wrapper .caption {
        width: 100%;
    }

    .slider-wrapper p {
        width: 95%;
    }
}